body
{
  font-family:Arial, sans-sherif;
  background-color:#FFCC99;
}

#wrapper
{
  width:50em;
  margin:2em auto 0;
  padding:0;
  color:#FF6633;
  background-color:#FFFFFF;
  -moz-border-radius:1.5em;
  -webkit-border-radius:1.5em;
  border-radius:1.5em;
  text-align:left;
}

#header
{
  background-color:#FF6600;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;   
  color:#FFFFFF;
}

#header h1
{
  padding: 1em;
  text-align:center;
} 

#navbar
{
  padding: 0.5em;
  background:#FF9966;
}
#navbar ul
{
  margin:0;
  list-style:none;
  text-align:center;
}
#navbar li
{
  display:inline;
}
#navbar a:link,a:visited
{
  display:inline-block;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#FF9966;
  width:120px;
  text-decoration:none;
  text-transform:uppercase;
}
#navbar a:hover, a:active
{
  color:#FF9966;
  background-color:#FFFFFF;
}

#content
{
  color:#FF6633;
  padding-bottom:1em;
  margin:2em;
}

#content p
{
  color:#000000;
}
.post a
{
  color:#FF6633;
}
.post a:visited
{
  color:#FF6633;
}

#content a:link
{
  text-decoration:underline;
  color:#FF6633;
}
#content a:visited
{
  text-decoration:underline;
  color:#FF6633;
}

#addbox
{
  float:right;
  border-style:solid;
  max-width: 30%;
  margin:0.5em;
  padding:1em;
}

#me
{
  margin:1em;
  float:right;
}

#disqus_thread
{
  color:#000000;
}
#validated
{
  text-align:center;
  bottom:0;
}
